@charset "utf-8";

@media screen and (min-width:1441px){
  header #navBtn{
    display: none;
  }
}

@media screen and (max-width:1440px){
  a{
    /* color: #fff; */
  }
  article{
      /* height: 100vh; */
  }
  #wrap{
      /* background-color: #fff; */
  }
  article>div{
      padding: 120px 16px;
  }
  h3{
      /* color: #000; */
      /* font-family: Montserrat; */
      font-size: 16px;
      /* font-style: normal; */
      /* font-weight: 700; */
      /* line-height: 150%; 30px */
  }
  h3>span{
      /* display: inline-block; */
      width: 14px;
      height: 14px;
      /* border-radius: 50%; */
      /* background-color: #000; */
      /* margin-right: 8px; */
  }

  /* header */
  header{
      /* position: fixed; */
      /* z-index: 100; */
      /* width: 100%;    1920px */
      /* background-color: #000; */
  }
  header>div{
      /* display: flex; */
      /* width: 1920px; */
      height: 64px;
      padding: 0px 16px;
      /* justify-content: space-between; */
      /* align-items: center; */
      /* flex-shrink: 0; */
  }
  header>div>h1{
      /* color: #FFF; */
      /* font-family: Montserrat; */
      font-size: 16px;
      /* font-style: normal; */
      /* font-weight: 700; */
      /* line-height: 150%; 33px */
  }
  header>div>nav{
    display: none;
  }
  header>div>nav>ul{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 36px;
  }
  header>div>nav>ul a{
      color: #FFF;
      text-align: right;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
  }
  header>div>nav>ul a:hover{
      text-decoration: underline;
  }

  /* box01 */
  #box01{
      padding: 264px 0 0 0;
      height: 100vh;
      box-sizing: border-box ;
      /* background-color: #000; */
      /* color: #ffff; */
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
      /* justify-content: center; */
      /* font-weight: 500; */
      line-height: 180%;
      /* font-family: Montserrat; */
      /* padding-bottom: 80px; */
      /* margin-bottom: 120px; */
  }
  #box01>.typing{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 24px;
    font-size: 32px;
    font-style: normal;
     /* 57.6px */
  }
  #box01>.typing .text{
      /* color: #FF7394; */
  }
  #box01>p{
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 265px;
      font-family: Pretendard;
  }
  #box01>a{
      color: #fff;
      font-size: 16px;
      margin-bottom: 0;
  }

  /* box02 */
  #box02{
      width: auto;
  }
  #box02>div{
    padding-bottom: 0;
  }
  #box02>div>h3{
      margin-bottom: 80px;
  }
  #box02>div>div{}
  #box02>div>div>p{
      /* color: #000; */
      /* font-family: Montserrat; */
      font-size: 48px;
      /* font-style: normal; */
      /* font-weight: 500; */
      /* line-height: 150%; 120px */
      margin-bottom: 24px;
  }
  #box02>div>div>p:last-child{
      /* color: #000; */
      /* font-family: Pretendard; */
      font-size: 16px;
      /* font-style: normal; */
      /* font-weight: 500; */
      /* line-height: 150%; 30px */
      /* text-transform: uppercase; */
  }

  /* box03 - PROJUET */
  #box03{
      
  } 
  #box03>div{}
  #box03>div>h3{
      margin-bottom: 80px;
  }
  #box03>div>div>figure{
      margin-bottom: 20px;
      /* cursor:none; */
      /* display: flex; */
      /* flex-direction: column; */
      /* justify-content: center; */
      /* align-items: center; */
      padding: 268px 0;
  }
  #box03>div>div>figure:nth-child(1){
      background-color: #DEEEF9;
  }
  #box03>div>div>figure:nth-child(2){
      background-color: #F5F5F5;
  }
  #box03>div>div>figure:nth-child(3){
      background-color: #E6F4F4;
  }
  #box03>div>div>figure:nth-child(4){
      background-color: #FCEFCD;
  }
  #box03>div>div>figure:last-child{
      margin-bottom: 0;
  }
  #box03>div>div>figure>img{
      width: fit-content;
      height: 56px;
      margin-bottom: 48px;
  }
  #box03>div>div>figure>figcaption{
      /* color: #000; */
      /* font-family: Pretendard; */
      font-size: 16px;
      /* font-style: normal; */
      /* line-height: 150%; 30px */
  }

  #box04{
      background-color: #FF7394;
  }
  #box04 div>h3{
      margin-bottom: 80px;
  }
  #box04>div>div{
      box-sizing: border-box;
      height: auto;
      background-color: #fff;
      padding: 0 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
  }
  #box04>div>div:last-child{
      margin-top: 24px;
  }
  #box04>div>div>h4{
      /* color: #000; */
      /* font-family: Montserrat; */
      font-size: 16px;
      /* font-style: normal; */
      /* font-weight: 700; */
      /* line-height: 150%; 30px */
      margin-right: 0;
  }
  #box04>div>div>ul{
    width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }
  #box04>div>div>ul>li{
    padding: 24px;
    margin: 0;
  }
  #box04>div>div>ul>li:last-child{
      margin-right: 0;
      width: 112px;
  }
  #box04>div>div>ul>li>img{
      width: 88px;
  }

  footer{
      background-color: #000;
      color: #fff;
      padding: 64px 16px;
  }
  footer>div{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
  }
  footer>div>h4{
      font-size: 18px;
      margin-right: 0;
      margin-bottom: 48px;
  }
  footer>div>div>h3{
      /* color: #fff; */
      /* font-family: Pretendard; */
      font-size: 16px;
      /* font-style: normal; */
      /* font-weight: 700; */
      /* line-height: 150%; 30px */
      margin-bottom: 24px;
  }
  footer>div>div>ul{
      margin-bottom: 40px;
  }
  footer>div>div>ul>li{
      /* font-family: Montserrat; */
      font-size: 14px;
      /* font-style: normal; */
      /* font-weight: 500; */
      /* line-height: 150%; 24px */
      margin-bottom: 4px;
  }
  footer>div>div>ul>li:last-child{
    margin-bottom: 24px;
  }
  footer>div>div>small{
      /* opacity: 0.5; */
      /* font-family: Montserrat; */
      font-size: 13px;
      /* font-style: normal; */
      /* font-weight: 500; */
      /* line-height: 150%; 19.5px */
      margin-bottom: 4px;
  }
  footer>div>div:last-child{
      position: relative;
      left: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: start;
  }
  footer>div>div>a{
      margin-bottom: 0;
      position: absolute;
      right: 0;
      top: -230px;
  }
  footer>div>div>a>img{
    width: 28px;
  }
  footer>div>div>p{color: #FFF;
      text-align: right;
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 19.5px */
      opacity: 0.5;
  }
}

