@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset */
a{
    color: #fff;
}
article{
    /* height: 100vh; */
}
#wrap{
    background-color: #fff;
}
article>div{
    padding: 120px 240px;
}
h3{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
}
h3>span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 8px;
}

/*  */
html {
    --color-texta: #1d1d1d;
    --color-textb: #fff;
}
/* 시스템 커서 안 보이게 숨기기 */
body {
    /* cursor: none; */
}
/* 커스텀 커서 스타일 정의해주기 */
.cursor {
    display: inline-block;
    padding: 0;
    width: 120px;
    height: 120px;
    opacity: 0;
    /* border: 2px solid var(--color-texta); */
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(20%);
    background-size: cover;
    background-color: #FF7394;
}
.cursor>span{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
}
.cursor-grow {
    transform: scale(2);
    opacity: 1;
    background-color: var(--color-texta);
    background-color: #FF7394;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 점선이 들어갈 ::after(pseudo)요소 만들고 크기값 설정해주기*/
#box03>div>div>figure:hover::after {
    /* width: calc(100% - 2rem); */
    /* height: 3px; */
    /* background-size: contain; 배경 이미지(svg)가 알맞게 들어가도록 */
  }
/* hover된 링크의 글자 색상 정의(하얀색)*/
/* .hovered-link 선택자명은 추후 JS로 추가할 예정!*/
  .hovered-link {
      color: var(--color-textb) !important;
  }
/* .gnb li a:hover::after의 svg에 배경이미지 지정!*/
  .hovered-link::after {
      background-image: url("../images/icon/white.png");
  }

/* header */
header{
    position: fixed;
    z-index: 100;
    width: 100%;    /* 1920px */
    background-color: #000;
}
header>div{
    display: flex;
    /* width: 1920px; */
    height: 80px;
    padding: 0px 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
header>div>h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 33px */
}
header>div>nav>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}
header>div>nav>ul a{
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
header>div>nav>ul a:hover{
    text-decoration: underline;
}
header #navBtn{
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header #navBtn>div{
    width: 21px;
    height: 1.75px;
    background-color: #fff;
}

/* box01 */
#box01{
    padding: 410px 0 80px;
    /* height: 100vh; */
    background-color: #000;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 150%;
    font-family: Montserrat;
    /* padding-bottom: 80px; */
    /* margin-bottom: 120px; */
}
#box01>.typing{
    display: flex;
    padding: 0;
    font-size: 48px;
    margin-bottom: 48px;
    line-height: 150%;
}
#box01>.typing .text{
    color: #FF7394;
}
#box01>p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 279px;
    font-family: Pretendard;
}
#box01>a{
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

/* box02 */
#box02{
    width: auto;
}
#box02>div{
    /* padding: 120px 240px; */
}
#box02>div>h3{
    margin-bottom: 160px;
}
#box02>div>div{}
#box02>div>div>p{
    color: #000;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 120px */
    margin-bottom: 48px;
}
#box02>div>div>p:last-child{
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 5 00;
    line-height: 150%; /* 30px */
    text-transform: uppercase;
}

/* box03 - PROJUET */
#box03{} 
#box03>div{}
#box03>div>h3{
    margin-bottom: 160px;
}
#box03>div>div>figure{
    margin-bottom: 40px;
    /* cursor:none; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 291px 0;
}
#box03>div>div>figure:nth-child(1){
    background-color: #DEEEF9;
}
#box03>div>div>figure:nth-child(2){
    background-color: #F5F5F5;
}
#box03>div>div>figure:nth-child(3){
    background-color: #E6F4F4;
}
#box03>div>div>figure:nth-child(4){
    background-color: #FCEFCD;
}
#box03>div>div>figure:last-child{
    margin-bottom: 0;
}
#box03>div>div>figure>img{
    width: fit-content;
    margin-bottom: 48px;
}
#box03>div>div>figure>figcaption{
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

#box04{
    background-color: #FF7394;
    padding: 240px auto;
}
#box04>div>h3{
    margin-bottom: 80px;
}
#box04>div>div{
    /* box-sizing: border-box; */
    background-color: #fff;
    padding: 104px 120px 74px;
    display: flex;
    align-items: center;
}
#box04>div>div:last-child{
    margin-top: 24px;
}
#box04>div>div>h4{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    margin-right: 121px;
}
#box04>div>div>ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#box04>div>div>ul>li{
    margin-right: 64px;
    width: 112px;
    margin-bottom: 30px;
}
#box04>div>div>ul>li:last-child{
    margin-right: 0;
    /* width: 112px; */
}
#box04>div>div>ul>li>img{
}

footer{
    background-color: #000;
    color: #fff;
    padding: 120px 80px;
}
footer>div{
    margin: 0 auto;
    display: flex;
}
footer>div>h4{
    
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 33px */
    margin-right: 400px;
}
footer>div>div>h3{
    color: #fff;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    margin-bottom: 40px;
}
footer>div>div>ul{
    margin-bottom: 40px;
}
footer>div>div>ul>li{
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
footer>div>div>small{
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 19.5px */
}
footer>div>div:last-child{
    position: absolute;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer>div>div>a{
    margin-bottom: 122px;
}
footer>div>div>a>img{}
footer>div>div>p{color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 19.5px */
    opacity: 0.5;
}